.container{
    padding: 20px;
    width: 100%;
    min-height: 134px;
    background-color: rgba(255, 255, 255, 1);
    border: rgba(230, 231, 233, 1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 1 / span 1;
}



